<div>
	<form method="get" action="/quizes">
		<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
		Búsqueda:
		<input type="text" name="search"/>
		<input type="submit" value="Buscar">
	</form>
</div>
<table>
<% for (var i=0; i < quizes.length; i++) { %>
	<tr>
		<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
		<td><a href="quizes/<%= quizes[i].id %>/edit"><img alt="Editar" title="Editar" src="/images/edit.png"/></a></td>
		<td><a onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');" href="quizes/<%= quizes[i].id %>/delete"><img alt="Borrar" title="Borrar" src="/images/delete.png"/></a></td>
	</tr>
<% } %>
</table>